.form-allergens{
    display: flex;
    flex-direction: column;
}

.form-allergens .select-form-allergens{
    height: max-content;
    min-height: 150px;
    size: 5;
}

.form-allergens .select-form-allergens .option-select{
    font-size: 2em;
    width: 60%;
    margin: auto;
    padding: 0.3em;
}

.form-allergens .submit-btn{
    padding: 1em;
    font-size: 1.5em;
}