.indicateur {
    position: absolute;
    height: 100px;
    width: calc(100vw - 2em);
    top: 1em;
    left: 1em;
    border-radius: 5px;
    z-index: 100;
}

.isGood {
    background-color: green;
}

.isGood::before {
    position: absolute;
    content: 'Produit sans risque';
    top: 21%;
    left: 21%;

    font-weight: bold;
    font-size: 1.6em;
}

.isGood::after {
    position: absolute;
    content: 'Cliquez pour voir plus...';
    top: 56%;
    left: 44%;

    font-size: 1.2em;
}

.isNotGood {
    background-color: rgb(128, 0, 0);
}

.isNotGood::before {
    position: absolute;
    content: 'Produit contenant un risque';
    top: 21%;
    left: 6%;

    font-weight: bold;
    font-size: 1.6em;
}

.isNotGood::after {
    position: absolute;
    content: 'Cliquez pour voir plus...';
    top: 56%;
    left: 44%;

    font-size: 1.2em;
}

.isNull {
    display: none;
}
 