.qr-container > section > section > div {
    position: absolute !important;
    top: 25% !important;
    height: calc(100vw - 2em) !important;
    width: calc(100vw - 2em) !important;
    border: 0px solid rgb(255, 255, 255) !important;
    border-radius: 5% !important;
    margin: 1em;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 0px 5px inset !important;
}