.btn-retour {
    position: absolute;
    bottom: 0;
    right: 0;

    padding: 10px;
    margin: 20px;
    border: solid 2px black;
    border-radius: 4px;
    background-color: aliceblue;
}

.btn-retour a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.isRisky{
    border: solid 2px red !important;
}